<!-- Impressum -->
<section id="impressum">
    <div class="container content-section text-left">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<br/>
		<p><h2>Impressum</h2></p>
		<h3>Eigent&uuml;mer der Seite</h3>
                 <p>Mario Hommel<br>
		    Birkenweg 2<br>
                    34596 Bad Zwesten<br>
                    E-Mail: mario (at) hommel-net (.) de</p>
                   <h3>GnuPG-Schl&uuml;ssel</h3>
                   <p>Meinen aktuellen &ouml;ffentlichen GnuPG-Schl&uuml;ssel kann man <a href="http://www.hommel-net.de/download/publickey.asc">hier</a> herunterladen.</p>
                   <h3>Disclaimer:</h3>
                   <p>Die Seite wird regelm&auml;ßig gepflegt, dennoch wird keine Haftung f&uuml;r die Richtigkeit und Aktualit&auml;t der Inhalte &uuml;bernommen.<br>
                   Verwendete Markennamen sind Eigentum der jeweiligen Hersteller.
                   </p>
		<br/>
	</div>
	</div>
    </div>
</section>
